$tbay-icons: (
    tb-icon-apple: "\E001",
    tb-icon-clock: "\E002",
    tb-icon-heart: "\E003",
    tb-icon-number-1: "\E004",
    tb-icon-number-2: "\E005",
    tb-icon-number-3: "\E006",
    tb-icon-number-4: "\E007",
    tb-icon-number-5: "\E008",
    tb-icon-number-6: "\E009",
    tb-icon-number-7: "\E0010",
    tb-icon-number-8: "\E0011",
    tb-icon-number-9: "\E0012",
    tb-icon-project: "\E0013",
); 