//---------------------------------
@include selection($white,$theme-color);
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.italic {
  font-style: italic;
  text-transform: capitalize;
}
.bg-center {
  background-position: center;
}
.margin-60 {
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.color {
  color: $theme-color;
}
.special-alert {
  text-align: center;
  padding: 13px 0;
  margin-bottom: 50px;
  a {
    color: $theme-color;
    font-family: $font-family-second;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}
.vc_row-no-padding {
  >.vc_fluid, .row >div, .vc_row-fluid> div {
    padding: 0;
  }
}
.tb-full, .tb-full >.container {
  width: 100%;
}
.nomargin {
  .widget {
    margin: 0;
  }
}
.banner-h1 {
  margin: 60px 0;
}
.video-responsive {
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  margin-bottom : 10px;
  position: relative;
  overflow: hidden;
  embed,iframe,object,video{
		top: 0;
		left: 0;
    right: auto;
		position: absolute;
    @include square(percentage(1));
	}
}
.audio-responsive{
	iframe{
		@include size(percentage(1), 126px);
	}
}
::placeholder {
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #aaa;
}
ul.list-square li {
    position: relative;
    margin: 0 5px 0 0;
    &:before {
        background-color: #aaa;
        @include size(3px, 3px);
        top: 50%;
        right: -6px;
		    left: auto;
        position: absolute;
        content: "";
    }
    &:last-child{
        a{
          margin-right: 0;
			    margin-left: 0;
        }
  			margin-right: 0;
  			margin-left: 0;
        &:before {
            @include size(0, 0);
        }
    }
}
.tbay-post-share {
  padding-top: 6px;
}
// breadcrumb
.tbay-breadscrumb{
    background: $bg-theme;
    text-align: center;
    margin-bottom: 50px;
    .page-title {
      margin: 0 0 20px;
      font-size: 30px;
      font-family: $font-family-second;
      font-style: italic;
    }
    .breadscrumb-inner{
		.breadcrumb {
		  > li, a {
			+ li:before {
			  content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
			  padding: 0 5px;
			  color: $breadcrumb-color;
            }
            + a:before {
                content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
                padding: 0 0 0 2px;
                color: $breadcrumb-color;
            }
		  }
		}
    .breadcrumb{
			padding: 0;
			background-color: transparent;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 300;
      text-transform: uppercase;
			li{
				color: #333;
        letter-spacing: 0.1em;
			}
     a{
      color: $theme-color;
       &:hover{
        text-decoration: underline;
       }
     }
     &.tbay-woocommerce-breadcrumb{
        margin-bottom: 30px;
      }
    }
  }
	
}
.tbay-title{
	.bread-title{
		margin: 0 0 30px 0;
		color: #333;
		font-size: 20px;
		font-weight: bold;
		padding: 25px 40px;
		background: #fafafa;
	}
}
// saerch
.search-form{
    > form{
        border:1px solid $border-color;
    }
    .btn{
        padding: $padding-base-vertical;
        background: transparent;
        color: $text-color;
        &:hover{
            background: transparent;
            color: $link-color;
        }
    }
    .form-control{
        border: none;
    }
}
.woocommerce-ordering .SumoSelect>.CaptionCont {
  >label>i {
    display: block;
  }
  > span {
    cursor: pointer;
  }
}
.ui-autocomplete.ui-widget-content{
    padding: 15px;
    margin: 0;
    list-style: none;
    width: 293px !important;
    background: #fff;
    z-index: 10000;
    border: solid 1px $border-color;
    li{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $border-color;
        &:last-child{
            border: none;
            margin: 0;
            padding: 0;
        }
        img{
            width: 80px;
        }
    }
    .price {
      font-size: 0;
      padding-left: 90px;
      .woocs_price_code {
        font-size: 13px;
      }
    }
  u, ins {
    text-decoration: none;
  }
    del .woocommerce-Price-amount {
    color: #aaa;
  }
}
.tbay-preloader {
  cursor: pointer;
  position: absolute;
  left: auto;
  right: 30px;
  top: 50%;
  @include translateY(-50%);
  text-align: center;

  @include opacity(0);
  @include transition(0.4s);

  &:before {
    content: "";
    font-family: 'simple-line-icons';

    @include transition(0.4s);
  }

  &.no-results {
    left: auto;
    right: 110% !important;
    text-align: left;
    width: auto !important;
    &:before {
      margin-right: 5px;
    }
  }
}

.tbay-search-form {
  &.active {
    .tbay-preloader {
      visibility: visible;
      z-index: 999;

      @include opacity(1);

      &:before {
        content: "\e082";
      }
    }
  }

  &.load {
   .input-group:after {
      height: 100%;
      content: "";
      position: absolute;
      z-index: 99;
      background: url("#{$image-theme-path}preloader.gif") no-repeat 100% center;
      background-size: 20px;
      width: 100%;
      right: 45px;
      left: auto;
      top: 0;
      pointer-events: none;
   }
  }
}
.content-index{
  .main-content{
    margin: 50px 0 0;
  }  
}
.main-content {
    display: block;
    margin: auto;
}

.bg-dark{
    background: #272727;
    color: #fff;
}
.text-purple {
    color: #6c58bd !important;
}

.text-red {
    color: #c32322 !important;
}
.text-red-1{
  color: #ff0000!important;
}
.text-orange {
    color: #f66000 !important;
}

.text-yellow {
    color: #e2d951 !important;
}
.text-black {
  color:#000!important;
}
.text-white, .text-light{
    color:#FFFFFF!important;
}
.text-darker {
    color:#333!important;
}
.text-uppercase{
text-transform: uppercase;
}
/*Radius
------------------------------------*/
[class*="radius"]{
    overflow:hidden;
}
.radius-0 {
    border-radius: 0 !important;
}

.radius-x {
    border-radius: 50% !important;
}

.radius-1x {
    border-radius: 10px !important;
}

.radius-2x {
    border-radius: 20px !important;
}

.radius-3x {
    border-radius: 30px !important;
}

.radius-4x {
    border-radius: 40px !important;
}

.radius-5x {
    border-radius: 5px !important;
}

.radius-6x {
    border-radius: 3px !important;
}
.owl-carousel-play{
    position:relative;
    .owl-item{
        & > div{
        }
        &:last-child .product-wrapper{
            border:none
        }
    }
}
.carousel-md {

    @include size($bo-carousel-md-width, $bo-carousel-md-height);
     line-height: $bo-carousel-md-height;
}
.carousel-sm {
    @include size($bo-carousel-sm-width, $bo-carousel-sm-height);
     line-height: $bo-carousel-sm-height;
     font-size: 14px;
}
.carousel-xs {
    @include size($bo-carousel-xs-width, $bo-carousel-xs-height);
     line-height: $bo-carousel-xs-height;
     font-size: 14px;
}
//back to top
.tbay-to-top{
    position: fixed;
    z-index: 800;
    bottom: 10%;
    right: 20px;
    left: auto;
    text-align: center;
    font-size: 35px;
    display: inline-block;
    @include opacity(0);
    @include transition(all 0.5s  ease-in-out 0s);
    pointer-events: none;
    &.active{
      @include opacity(1);
  		right: 50px;
		  left: auto;
      pointer-events: auto;
    }
	a, button.btn-search-totop{
		&:hover{
			border-color: $theme-color;
      color: $theme-color;
		}
	}
	button.btn-search-totop{
		display: block;
		@include size(58px, 58px);
		color: #222;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		line-height: 58px;
		border: 1px solid $border-color; 
		@include border-radius(50%);
		margin: 0 auto;
		position: relative;
		padding: 0;
		background: #fff;
		@include transition(all 0.4s  ease-in-out 0s);
		font-size: 18px;
	}
	a{
		display: block;
		@include size(58px, 58px);
		color: #222;
		font-weight: bold;
		text-align: center;
		line-height: 58px;
		border: 1px solid $border-color;
		@include border-radius(50%);
		margin: 0 auto;
		position: relative;
		margin-top: 5px;
		padding: 0;
		background: #fff;
		@include transition(all 0.4s  ease-in-out 0s);
		font-size: 18px;
		span{
			position: absolute;
			top: 1px;
			right: 0px;
			left: auto;
			font-size: 12px;
			color: #fff;
			min-width: 21px;
			line-height: 21px;
			background-color: $theme-color;
			z-index: 1;
			@include border-radius(11px);
		}
    &#back-to-top {
      font-size: 14px;
    }
	}
}

//Category Fixed
.tbay-category-fixed{
    position: fixed;
    z-index: 99;
    bottom: 30%;
    left: 230px;
	right: auto;
    text-align: center;
    font-size: 35px;
    display: inline-block;
    width: 50px;
    @include opacity(0);
    @include transition(all 0.5s  ease-in-out 0s);
    border-radius: 8px;
    background: #fff;
    border: 2px solid #eee;
    &.active{
        @include opacity(1);
        left: 250px;
		right: auto;
        
    }
	&.v8 {
		display: none !important;
	}
    .navbar-collapse {
        padding: 0 !important;      
    }
    ul {
      li {
        display: block;
        border-bottom: 1px solid #eee;
        float: left !important;
        &:last-child {
          border-bottom: 0;
        }
        a {
          width: 46px;
          height: 48px;
          overflow: hidden;
          padding: 0 !important;
          i {
            width: 46px;
            height: 48px;
            display: block;
            font-size: 22px;
            line-height: 48px;
          }
          &:hover, &:active {
              background: transparent !important;
              color: $theme-color  !important;
          }
        }
      }
    }
}

.menu{
    padding:0;
    margin:0;
    li{
        list-style: none;
        line-height: 2.2;
    }
}
// loading
.tbay-body-loading {
  overflow: hidden;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes -webkit-spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
.tbay-page-loading{
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99991;
  #loader{
    animation: 2s linear 0s normal none infinite running spin;
    -webkit-animation: 2s linear 0s normal none infinite running spin;
    -ms-animation: 2s linear 0s normal none infinite running spin;
    border-color: #86bc42 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    position: relative;
    top: 50%;
    width: 150px;
    z-index: 1001;
    &:before{
      animation: 3s linear 0s normal none infinite running spin;
      -webkit-animation: 3s linear 0s normal none infinite running spin;
      -ms-animation: 3s linear 0s normal none infinite running spin;
      border-color: #f65b47 transparent transparent;
      border-image: none;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      bottom: 5px;
      content: "";
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    &:after{
      animation: 1.5s linear 0s normal none infinite running spin;
      -webkit-animation: 1.5s linear 0s normal none infinite running spin;
      -ms-animation: 1.5s linear 0s normal none infinite running spin;
      border-color: #f9c922 transparent transparent;
      border-image: none;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      bottom: 15px;
      content: "";
      left: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  .loader-section{
    background: #f5f5f5 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0px);
    width: 51%;
    z-index: 1000;
    &.section-left{
       left: 0;
    }
    &.section-right{
      right:0;
    }
  }
}
.vc_row[data-vc-stretch-content] >.container {
 width: 100%;
}
.ui-sortable .vc_container-block .vc_fluid {
  width: 100%;
}

/*Add 5 colum */

.col-xlg-2-4 {
  @include make-xlg-column(2.4);
}

.col-lg-2-4 {
  @include make-lg-column(2.4);
}

.col-sm-2-4 {
  @include make-sm-column(2.4);
}

.col-md-2-4 {
  @include make-md-column(2.4);
}

.col-md-push-2-4 {
  @include make-md-column-push(2.4);
}

.col-md-pull-2-4 {
  @include make-md-column-pull(2.4);
}

.col-md-offset-2-4 {
  @include make-md-column-offset(2.4);
}