/*------------------------------------*\
    Topbar
\*------------------------------------*/
body {
	&.tbay-homepage.v2 #tbay-header {
		position: absolute;
  	left: 35px;
  	right: 35px;
  	background: $white;
  	@include transition(.5s);
  	&:not(.sticky-header1) {
  		top: 30px;
  	}
	}
	&:not(.tbay-homepage) #tbay-header.header-v2 {
		padding: 30px;
		background: $bg-theme;
		.header-main {
			background: $white;
		}
		&.sticky-header1 {
			padding: 0;
		}
	}
	&:not(.v2) {
		.tbay-breadscrumb {
			padding-top: 20px;
		}
	}
	&.v3 {
    @media (min-width: $screen-xlg) {
      padding-left: 330px;
      #tbay-header .header-main {
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        height: 100vh;
        z-index: 999;
        padding: 0;
        max-width: 330px;
        text-align: center;
        > .container {
        	background: $white;
        }
      }
      &.admin-bar {
      	#tbay-header:not(.sticky-header1) .header-main {
      		top: 32px;
      	}
      }
      .fix .header-main {
      	.header-inner > .row {
      		border: 0;
      	}
      }
      .header-inner {
      	> .row {
      		display: flex;
      		flex-direction: column;
      		min-height: 900px;
      		border-bottom: 1px solid $border-color;
      		> div {
      			width: 100%;
      			float: none;
      		}
      	}
      }
      .tbay-mainmenu {
      	padding: 130px 0;
      }
      .logo-in-theme {
      	padding: 40px 0;
      }
      .tbay-login .dropdown .account-menu {
      	left: 100%;
      	right: auto;
      	top: 50%;
      }
      .tbay-dropdown-cart {
        position: absolute;
        height: 100vh;
        top: 0;
        left: 100%;
        right: auto;
        background: $white;
        @include transition (transform 700ms ease-in-out);
        -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
        z-index: 9999;
        .widget_shopping_cart_content {
          top: -20px;
          @include opacity(0);
          left: 0;
          position: relative;
          @include transition (opacity 1300ms ease-in-out, top 1300ms ease-in-out);
        }
        &.active {
          top: 0;
          left: 100%;
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
          transform: translateY(0);
          .widget_shopping_cart_content {
            top: 0;
            position: relative;
            @include opacity(1);
          }
        }
      }
      .none-menu ul.menu {
        text-align: left;
        li {
          margin: 0;
          display: block;
          line-height: 32px;
        }
      }
      .header-right {
      	position: static;
      	> div {
	      	display: block;
	      	padding: 0;
	      	a {
	      		display: inline-block;
	      	}
	      }	
        .tbay-login {
          margin-bottom: 20px;
        }
      }
      #tbay-footer {
        padding: 0 15px;
      }
    }
  }
}
.container-full{
	&.container {
		@media (min-width: 1520px) {
			width: 1520px;
		}
	}
}
.search-form-modal {
	top: 20%;
	.modal-content {
		@include border-radius(4px);
	}
	.modal-header h4 {
		text-transform: uppercase;
		font-family: $font-family-second;
		text-align: center;
	}
	.tbay-search-form {
		border: 1px solid $border-color;
		@include border-radius(4px);
		&:before {
			display: none;
		}
		.tbay-search {
			padding: 0 0 0 20px;
			border-left: 1px solid $border-color;
			height: 40px;
		}
		.SumoSelect {
      width: auto;
      padding: 0 20px;
			> .CaptionCont {
				text-align: center;
				>span {
					padding: 0;
				}
        > label {
          margin: 0;
          width: auto;
          > i {
            display: block;
          }
        }
			}	
		}
	}
}
.tbay-dropdown-cart {
	.widget-header-cart {
		position: relative;
		.offcanvas-close {
			position: absolute;
			right: 0;
			left: auto;
			top: 50%;
			@include translateY(-50%);
		}
		h3 {
			margin: 0;
			line-height: 50px;
			text-align: left;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	.widget_shopping_cart_content {
    position: fixed;
    top: 0;
    height: 100%;
    background: $white;
    @include transition(.4s);
    overflow-y: auto;
    width: 320px;
    padding: 0 10px;
    z-index: 9999;
    @include transition(all 500ms);
    .mini_cart_content a.remove {
      color: #bbb;
      &:hover {
        color: $theme-color;
        background: transparent;
      }
    }
  }
  .cart_list {
  	list-style: none;
    margin: 0;
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 300px);
  }
}
.search-popup {
	.btn-search-totop {
		@include rotateY(180deg);
		font-size: 16px;
	}
}
.wrapper-container{
	position: relative;
  &.v3 {
    &:after {
      content: "";
      background: rgba(0,0,0,.66);
      position: absolute;
      z-index: -1;
      pointer-events: none;
      right: 0;
      width: 100%;
      height: 100%;
      top: 0;
      @include opacity(0);
      @include transition(.4s);
    }
    &.active-cart:after {
      z-index: 900;
      pointer-events: auto;
      @include opacity(1);
    }
  }
} 
.#{$app-prefix}-topbar{
    padding:$topbar-padding;
    background: $topbar-bg;
    color: $topbar-color;
    @include font-size(font-size, $topbar-font-size);
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid $border-color;
    a{
        color: $topbar-link-color;
        &:hover{
            color: $topbar-link-hover-color;
        }
    }

    .fa {
        font-size: 14px;
        line-height: 30px;
        display: block;
        position: relative;
    }
    .icons {
        color: #00f2bc;
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        &.icon-basket {
            color: #fff;
            font-size: 16px;
        }
    }
    ul{
        margin:0;
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            padding:4px 15px 4px 0;
            font-size: 13px;
            font-weight: bold;
            line-height: 2.14;
            &:last-child{
                border:none;
            }
            
        }
    }
    .user-login{
        li {
            border: none;
        }
    }

    .widget-woocommerce-currency-switcher{
        margin:0;
        .dd-options{
            background: $topbar-bg !important;
            padding:0 0 8px;   
        }
        .dd-option{
            border:none;
            background: $topbar-bg !important;
        }
        .dd-select{
            background: transparent !important;
            color: $topbar-color;
        }
        .dd-selected{
            color: #fff;
        }
    }
    .user-login ,
    .wrapper-topmenu{
    }
}
.count_wishlist {
    h1 {
        display: none;
    }
}
.top-cart-wishlist {
	text-align:left;
    .wishlist-icon {
        position: relative;
        margin-right: 22px;
        display: block;
        .count_wishlist {
            position: absolute;
            top: 0px;
            left: -10px;
            right: auto;
            background: $theme-color;
            min-width: 16px;
            line-height: 16px;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            h1 {
                display: none;
            }
        }
    }
    .fa {
        font-size: 14px;
        line-height: 30px;
        display: block;
        position: relative;
        color: #000000;
    }
    .icons {
        color: #00f2bc;
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        &.icon-basket {
            color: #fff;
            font-size: 16px;
        }
    }
}
.logged-in{
	.list-inline.acount{
		> li{
			display: inline-block !important;
		}
	}
}
/*------------------------------------*\
    Header
\*------------------------------------*/
##{$app-prefix}-header{
    margin: $header-margin;
    padding:$header-padding;
    z-index: 999;
    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-large-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all 0.2s ease 0s);
    }
    .tbay-megamenu{
        margin-bottom: 0;
        position: static;;
    }
    .logo.logo-theme{
        line-height: 36px;
    }
    .logo img{
        @include transition(all 0.2s ease 0s);
    }
    // search
    .search-form{
        max-width: 250px;
        margin-right: 5px;
        > form{
            border:none;
        }
        .btn{
            font-size: 16px;
            padding: 0;
            position: relative;
            z-index: 9;
            border: none;
            height: 36px;
            width: 36px;
            background: $theme-color;
            border-radius: 8px;
            color: #fff;
        }
        .form-control{
            @include opacity(0);
            position:absolute;
            width:0;
						top:0;
            right: 0;
						left: auto;
            height: 36px;
            border: 1px solid #eee;
            border-radius: 8px;
            @include transition(all 0.2s ease-in-out 0s);
            padding:5px;
        }
        &:hover{
            .form-control{
                @include opacity(1);
                width:200px;
            }
        }
    }
    &.sticky-header1{
      position: fixed !important;
      top: 0;
      left: 0 !important;
      right: auto;
      width: 100%;
	    @include box-shadow(0px 3px 15px rgba(0, 0, 0, 0.06));
			background: #fff;
			-webkit-animation: fadeInDown 0.5s ease;
			-moz-animation: fadeInDown 0.5s ease;
			-ms-animation: fadeInDown 0.5s ease;
			-o-animation: fadeInDown 0.5s ease;
			animation: fadeInDown 0.5s ease;
			transform: translateZ(0);
			@media screen and (max-width: 1024px) {
				position: relative !important;
				box-shadow: none !important;
			}
    }
    .header-inner{position: relative;}
	
    &.header-default{
        .header-main{
            padding: 40px 0;
            position: relative;
            z-index: 9999;
        }
        .tbay-mainmenu{
            z-index: 100;
            position: relative;
            width: 100%;
        } 
        .tbay-megamenu{
            position: relative;
            margin-bottom: 0;
						float: left;
						width: 100%;
        }
        .header-inner{
            position: relative;
        }
        .main-content{
            position: static;
            margin:35px 0 0;
            @include transition(all 0.2s ease 0s);
            .mega-menu-wrap,
            .mega-menu-megamenu,
            .mega-menu{
                position: static !important;
            }
        }
		.logo.logo-theme a{
			display: inline-flex;
			vertical-align: middle;
		}
        
    }
    &.header-v1{
    	.tbay-search-form {
    		padding-top: 10px;
    		max-width: 250px;
    		.select-category {
    			display: none;
    		}
    		.button-group {
    			text-align: right;
    		}
    	}
			&.sticky-header1{
	      .header-main{
					padding: 0;
					.logo-theme, .logo, .tbay-search-form {
						display: none;
					}
					.header-right {
						position: absolute;
						top: 0;
						right: 15px;
						left: auto;
						z-index: 101;
						padding-top: 10px;
					}
				}
				.tbay-mainmenu{
					.navbar-nav.megamenu {
						text-align: left;
						@include transition(.5s);
						> li {
							margin: 0 30px 0 0;
							> a {
								padding: 5px 10px;
							}
						}
					}
				}
      }
    }
  &.header-v2{
  	.header-inner {
  		@include clearfix();
  	}
  	.header-mainmenu {
  		position: static;
  	}
  	.logo {
  		line-height: 70px;
  		padding: 0 10px;
  		img {
  			vertical-align: middle;
  		}
  	}
  	.navbar-nav.megamenu > li {
  		margin: 0 15px;
  		> a {
  			padding: 10px;
  		}
  	}
  	.header-right {
  		padding: 0;
  		text-align: right;
  		> div {
  			padding: 0 20px;
  			border-right: 1px solid $border-color;
  			&:last-child {
  				border: 0;
  			}
  		}
  		i {
  			line-height: 70px;
  		}
  		.woocommerce-currency-switcher-form .SumoSelect > .CaptionCont > label i {
  			line-height: 40px;
  		}
  		.SumoSelect>.optWrapper {
  			max-width: 70px;
  			right: calc(100% + 20px);
  			left: auto;
  			top: 50%;
  		}
  	}
  	.tbay-topcart .cart-icon .mini-cart-items {
  		top: 5px;
  	}
  }
	.tbay-mainmenu {
		position: static;
	}
}
.search-horizontal {
	position: relative;
}
.container-search-horizontal {
  position: absolute;
  right: 19px;
  left: auto;
  top: 0;
  overflow: hidden;
  background: $white;
  z-index: 2;
  @include opacity(0);
  pointer-events: none;
  @include transition(opacity 500ms, width 1s); 
  .tbay-search-form {
  	&:before {
  		display: none;
  	}
    &.active {
      .tbay-preloader {

      }
    }
    &.load {
      .input-group {
        &:after {
          background-color: #fff;
          width: 45px;
          top: 0;
        }
      }
    }
    .tbay-preloader {
      right: 40px;
      left: auto;
      background: $white;
      top: 50%;
      @include translate(0, -50%);
      &:before {
        font-size: 18px;
      }
    }
    .button-group {
    	width: 1%;
    }
    .tbay-search {
    	height: 70px;
    	padding: 0;
    	width: 0;
    	border-left: 1px solid transparent;
    	@include transition(1s);
    }
    .select-category.input-group-addon {
    	display: none;
    }
  }
  &.active { 
    @include opacity(1);
    pointer-events: auto;
    .tbay-search-form .tbay-search {
    	padding-left: 20px;
    	border-color: $border-color;
    	width: 300px;
    }
	}
}
.btn-search-totop {
	padding: 0;
	border: 0;
	background: transparent;
	&:hover, &:focus {
		color: $theme-color;
		outline: none;
	}
}
.categorymenu {
	&.treeview-menu {
		.widget_nav_menu {
			> .nav {
				position: absolute;
				width: 100%;
				z-index: 9;
				background: $white;
				ul {
					li {
						display: inline-block;
						width: 100%;
						&:last-child {
							border-bottom: 0 !important;
						}
					}
				}
			}
		}
	}
}
.header-right {
	> div {
		display: inline-block;
		padding: 0 15px;
		&:last-child {
			padding-right: 0;
		}
		&:first-child {
			padding-left: 0;
		}
	}
	i {
		font-size: 16px;
		line-height: 40px;
		display: inline-block;
	}
}
.tbay-login, .top-menu {
	position: relative;
  .dropdown {
  	position: static;
    .account-menu {
      text-align: left;
      position: absolute;
      top: 100%;
      left: 0;
      right: auto;
      display: none;
      background: $white;
      z-index: 100;
      padding: 10px 15px;
      @include border-radius(4px);
      width: 200px;
      @include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          border-bottom: 1px solid $border-color;
          &:last-child {
            border: 0;
          }
          a {
            line-height: 32px;
            display: inline-block;
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
      &.left {
        right: -20px;
        left: auto;
      }
    }
  }
}
.tbay-login {
  a {
    cursor: pointer;
    display: block;
  }
  .account-button span {
    vertical-align: middle;
    margin-left: 5px;
    @include transition(.4s);
  }
}
.navbar-offcanvas .navbar-nav > li.open{
	> .dropdown-menu{
    display: none !important;
	}
	&.collapsable {
		> .dropdown-menu{
  		display: block !important;
  	}
  }
}

/*------------------------------------*\
    Category menu
\*------------------------------------*/
.category-inside {
    width: 230px;
    background: $theme-color;
    border-radius: 8px 8px 0 0;
    position: relative;
    .category-inside-content {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: auto;
        background: #fff;
        padding: 20px;
				z-index: 1000;
        @include box-shadow(0 2px 16px rgba(0, 0, 0, 0.06));
        .list-inline > li {
            display: block;
            background: none;
            li {
                background: none;
            }
        }
    }
    .category-inside-title {
        margin-bottom: 0;
        line-height: 47px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 0 5px 0 20px;
        color: #fff;
        margin-top: 0;
        &:before {
            display: block;
            float: left;
            content: "\f0c9";
            color: #fff;
            text-align: center;
            font-family: "FontAwesome";
            font-size: 16px;
            font-weight: 900;
            margin-right: 11px;
            min-width: 14px;
        }
    }
}
.treeview {
    li {
		position: relative;
		background: none !important;
		border-bottom: 1px solid #eee;
		padding: 0;
        .hitarea {
            position: absolute;
            top: 0;
            right: 15px;
            left: auto;
            background: transparent;
            &:after {
							content: "\e615";
							font-family: 'simple-line-icons';
							color: #333;
							font-size: 16px;
            }
            &.expandable-hitarea:after {
                content: "\e095";
								font-family: 'simple-line-icons';
								font-size: 16px;
            }
        }
    }
}
/*------------------------------------*\
    Offer
\*------------------------------------*/
.top-offer {
    line-height: 47px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

/*------------------------------------*\
    Shipping
\*------------------------------------*/
.top-shipping {
    background: url("#{$image-theme-path}bg_shipping.png") no-repeat 0 6px;
    padding-left: 70px !important;
    padding-top: 3px;
    float: right !important;
    width: auto !important;
    h1,h2,h3,h4 {
        margin: 0;
        font-size: 13px;
        text-transform: uppercase;
        color: #2b87c3;
    }
    p {
        color: #999;
    }
    strong {
        color: #000;
    }
}

/*------------------------------------*\
    Slide Show
\*------------------------------------*/
.tparrows{
	background: $black;
	@media (min-width: $screen-xlg) {
		@include size(90px, 90px);
		margin-left: -45px;
	}
	@include border-radius(50%);
	@include transition(.4s);
	&:before {
		font-family: 'simple-line-icons';
		content: '\e605' !important;
		
		@media (min-width: $screen-xlg) {
			line-height: 90px;
			font-size: 20px;
			width: 50%;
			position: absolute;
			/*rtl:begin:ignore*/
			left: 40px;
			right: auto;
			/*rtl:end:ignore*/
		}
	}
	&.tp-rightarrow{
		@media (min-width: $screen-xlg) {
			margin-left: 0;
			margin-right: -45px;
			&:before {
				/*rtl:begin:ignore*/
				right: 40px;
				left: auto;
				/*rtl:end:ignore*/
			}
		}
		&:before{
			content: '\e606' !important;
		}
	}
	&:hover{
		background: $theme-color;
	}
}
.btn-slider{
    padding: 13px 29px !important;
    text-transform: uppercase;
    border-radius: 5px;
		border:1px solid #eeeeee;
		color:#333;
		line-height: 46px !important;
		background: #fff;
		transition :0.4s all !important ;
	&:hover{
		background: $theme-color;
		color: #fff;
		border-color: $theme-color;
	}
	&.btn-color{
		background: $theme-color;
		border-color: $theme-color;
		color: #fff;
		&:hover{
			background: #fff;
			color: #333;
			border-color: #eeeeee;
		}
	}
}
.tp-bullets{
	width: auto !important;
	&:before{
		padding: 0 !important;
	}
	.tp-bullet{
		display: block;
		@include size(10px, 10px);
		background: #fff !important;
		@include border-radius(50%);
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		cursor: pointer;
		position: initial !important;
		display: inline-block;
		@include opacity(.5);
		margin-right: 20px;
		&:hover, &.selected {
			@include opacity(1);
		}
		&:last-child {
			margin: 0;
		}
	}
	&.vertical {
		.tp-bullet {
			display: block;
			margin: 0 0 20px;
		}
	}
}
.tp-mask-wrap {
 overflow: visible !important;
}
/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    @include box-size($breadcrumb-layout-bg, $breadcrumb-padding-top, $breadcrumb-padding-bottom);
    @include border-radius(0);
    margin: $breadcrumb-margin;
    text-align: $breadcrumb-alignment;
    font-size: $breadcrumb-font-size ;
    .breadcrumb-title{
        color: $breadcrumb-color;
        margin: 0;
        font-weight: $breadcrumb-title-font-weight;
        @include font-size(font-size, $breadcrumb-title-font-size);
    }
    nav{
       text-align: left;
        line-height: $breadcrumb-line-height;
        a{
            color: $breadcrumb-link-color;
        } 
    }
}

/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
}
/*------------------------------------*\
    Content
\*------------------------------------*/
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.pagination,
.#{$app-prefix}-pagination{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 ;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    ul.page-numbers{
        margin: 0;
        padding:0;
        list-style: none;
        li{
            display: inline-block;
        }
    }
    span,a{
        padding: 10px 15px;
        border:1px solid $border-color;
        line-height: 1;
        background: #fff;
        display: inline-block;
        margin: 0 2px;
				@include border-radius(4px);
				/*rtl:raw:
	      -webkit-transform: rotateY(180deg);
	      -moz-transform: rotateY(180deg);
	      -ms-transform: rotateY(180deg);
	      -o-transform: rotateY(180deg);
	      transform: rotateY(180deg);
      	*/
        &.current{
            background: $theme-color;
            border-color: $theme-color ;
            color: #ffffff;
        }
    }
    a{
        color: $link-color;
        cursor: pointer;
        &:hover{
            background: $theme-color;
            border-color: $theme-color ;
            color: #ffffff;
            text-decoration: none;
        }
    }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
.#{$app-prefix}-footer{
  float: left;
  width: 100%;
 .footer-content {
 	.widget {
 		.widget-title, .widgettitle {
 			font-family: $font-family-base;
 			font-weight: bold;
 			font-size: 14px;
 			line-height: inherit;
 			padding-bottom: 10px;
 			margin-bottom: 25px;
 			border-bottom: 1px solid $border-color;
 		}
 	}
 }
 .vc_fluid.col-sm-12 {
    min-height: 0;
  }
}
.ft-contact-info {
	padding: 0;
	li {
		list-style: none;
		line-height: 32px;
	}
	i {
		color: $theme-color;
		display: inline-block;
		margin-right: 12px;
	}
}
.bottom-footer {
	padding: 20px 0;
	background: $bg-theme;
	color: #999;
	text-align: center;
	line-height: 20px;
	margin-top: 45px;
	.coppyright {
		margin: 0;
	}
	a {
		color: $theme-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    a{
        color: $copyright-link-color;
        &:hover{
            text-decoration: underline;
        }
    }
    ul{
        margin: 0;
    }
    .widget,
    .wpb_content_element{
        margin: 0;
    }
}
/*------------------------------------*\
    Top bar
\*------------------------------------*/
.admin-bar{
	.tbay-offcanvas.offsetop{
		top: 32px;
		@media (max-width: 780px){
			top: 46px;
		}
	}
}
.tbay-offcanvas {
  .tbay-offcanvas-body{
      position: relative;
  }
  visibility:hidden;
  @include opacity(0);
  @include translateX(-100%);
  @include transition(all 0.4s  ease-in-out 0s);
  position: fixed;
  top:0;
  left:0;
  z-index: 10000;
  min-width: 210px;
  max-width: 350px;
  width: 60%;
  background: #fff;
  height: 100%;
	overflow-y: auto;
	.navbar-collapse {
		padding: 0;
	}
  .offcanvas-head {
		display: inline-block;
		width: 100%;
		padding: 10px 0 10px 20px;
		line-height: 40px;
		background-color: #666;
		color: #fff;
    .btn-toggle-canvas{
      padding: 5px 10px;
      margin-right: 10px;
			margin-left: 0;
			float: right;
			background-color: $theme-color;
			border-color: $theme-color;
    }
  }
}
.wrapper-container.active{
    .tbay-offcanvas{
        @include translateX(0);
        @include opacity(1);
        visibility:visible;
    }
}
.top-menu {
	position: relative;
	.dropdown {
		position: static;
		.account-menu {
			left: auto !important;
			right: 0 !important;
			padding: 10px 20px 20px !important;
		}		
	}
	.widget {
		margin: 0;
	}
}
/* Header */
/*  ------------Layout 1--------------  */
.list-inline.acount{
	li{
		display: block;
	}
}
.header-v1{
	.header-main .header-inner{
		.text-right{
			text-align:right;
		}
		.list-inline.acount{
			display: inline-block;
			text-align:left;
			margin-right: 30px;
			margin-left: 0;
			a.login{
					color: $text-color;
					font-weight:500;
					i{
						display:inline-block;
					}
					&.login{
						margin-right: 0;
						margin-left: 10px;
					}
					&:hover{
						color: $theme-color;
					}
				}
			li{
				display: block;
				color: $text-color;
				font-weight: 500;
				i{
					display:none;
					&.block{
						display:inline-block;
					}
				}
				ul{
					li{
						a{
							color: $text-color;
							font-weight: 500;
						}
					}
				}
				a{
					display:block;
					font-size:14px;
					color: #000;
					font-weight:bold;
				}
				.tit{
					display:block;
					font-size:14px;
					color: $text-color;
					font-weight: 500;
				}
				.user{
					color: #000000;
					font-weight:bold;
					text-transform: capitalize;
				}
				
				&:hover{
					.dropdown-menu{
						display:block;
					}
				}
				ul{
					list-style: none;
					li{
						.top-menu{
							.dropdown-menu{
								padding: 10px 20px;
								margin: 0;
								.tbay-menu-top{
									li{
										display:block;
										&:hover{
											a{
												color: $theme-color;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Layout 01 */
.position-img{
	overflow: visible !important;
	.img-position > * {
		/*rtl:begin:ignore*/
		float: left;
		/*rtl:end:ignore*/
	}
	
	.position-img-left{
		/*rtl:begin:ignore*/
		position: absolute !important;
		z-index: 1;
		right: auto; 
		left: -15px;
		transform: translate(0,-25%);
		/*rtl:end:ignore*/
	}
	.position-img-right{
		/*rtl:begin:ignore*/
		position: absolute !important;
		z-index: 1;
		right: -15px;
		left: auto;
		transform: translate(0,-55%); 
		/*rtl:end:ignore*/  
	}
	 
	.img-position{
		position: relative;
	}
	
	.position-img-left,
	.position-img-right{
		.vc_single_image-wrapper{
			&:hover{
				box-shadow: none !important;
			}
		}
	}
	&.home_3{
		margin-bottom:0;
		> .container{
			> .row{
				 > * {
					/*rtl:begin:ignore*/
					float: left;
					/*rtl:end:ignore*/
				}
			}
		}
		
			.position-img-left{
				/*rtl:begin:ignore*/
				z-index: 1;
				transform: translate(0,22%);
				/*rtl:end:ignore*/
			}
			.position-img-right{
				/*rtl:begin:ignore*/  
				z-index: 1;
				transform: translate(0,-7%);
				/*rtl:end:ignore*/
			}
			
		
		
	}
}
.vc_heading_home3{
	margin-top: -13px;
	.vc_single_image-wrapper{
		transform: translate(0,-90px);
		margin-bottom:-100px;
		&:hover{
			box-shadow: none !important;
		}
	}
	.wpb_single_image{
		overflow: visible !important;
	}
}
.group-text{
	.text-heading{
		padding: 22px 40px;
		background: #fff;
		transform: translate(-40px,0);
		span{
			color: #222;
			font-size:20px;
			&.txt2{
				font-size:14px;
				font-weight:500;
				margin: 6px 0 0 0;
				display: block;
			}
		}
	}
	> p{
		max-width: 400px;
		margin-right:0;
		position:relative;
		margin-bottom: 40px;
		line-height: 20px;
		&:before{
			content:'';
			display:block;
			background: $theme-color;
			width:40px;
			height:1px;
			margin:30px 0 15px 0;
		}
	}
	.btn-color{
		font-weight: 500;
		margin-right:0;
		font-size: 13px;
		i{
			margin-left:7px;
			margin-right:0;
			font-size:16px;
		}
	}
	&.home_3{
		max-width: 770px;
		margin: 0 auto;
		border: 1px solid #f8f8f8;
		border-top: 0;
		border-bottom-width: 10px;
		border-bottom-color: #e5e5e5;
		border-radius: 0 0 15px 15px;
		border-left: 0;
		border-right: 0;
		display: grid;
		.text-heading{
			padding: 0;
			background: transparent;
			text-align: center;
			transform: translate(0,0);
			span{
				display:block;
			}
			i{
				font-size: 30px;
				color: $theme-color;
				margin: 15px 0 25px 0;
				display: block;
			}
		}
		.quote, .signature{
			border-left: 1px solid #f8f8f8;
			border-right: 1px solid #f8f8f8;
			padding: 0 50px;
		}
		.quote{
			display: flex;
			text-align: center;
			i{
				font-size:18px;
				color: $theme-color;
				margin-right: 5px;
				margin-left: 0;
				margin-top: 3px;
			}
		}
		.signature{
			font-size: 14px;
			padding: 10px 50px;
			text-align: right;
			.job{
				padding: 0;
				margin: 0;
				color: #222;
				font-weight: bold;
				position:relative;
				&:before{
					content: "";
					position: absolute;
					width: 40px;
					height: 1px;
					background-color: #86bc42;
					top: 50%;
					left: -60%;
					right: auto;
					transform: translate(0, -50%);
				}
			}
			.name{
				display: block;
				font-weight: 500;
				color: #bbb;
			}
		}
	}
	&.home_6{
		margin-top: 50px;
		border: none;
		.quote{
			border: none;
		}
	}
}

.vc_testimonial{
	overflow: visible;
	padding-top: 55px;
	margin-top: 65px;
	.wpb_single_image.widget .vc_single_image-wrapper:hover{
		box-shadow: none;
	}
	.wpb_single_image.widget {
		margin-bottom:0;
	}
	.widget-text-heading{
		margin-bottom:55px !important;
	}
}
.widget-carousel-special{
	.product-block.grid:last-child{
		margin-bottom: 0 !important;
	}
}
.categorymenu, .widget_tbay_custom_menu{
	.widgettitle{
		line-height: 50px;
		font-size: 13px !important;
		color: #fff !important;
		text-transform: uppercase !important;
		background: $theme-color;
		border-radius: 5px 5px 0 0;
		position:relative !important;
		padding: 0 20px !important;
		font-weight: 500 !important;
		margin:0 !important;
		font-family: $font-family-sans-serif !important;
		&:before{
			content: "\f080";
			font-family: 'IcoFont';
			display:block;
			float:left;
			margin-right:5px;
		}
	}
	.dropdown-menu-inner {
		.widgettitle {
			background: transparent !important;
			color: #222 !important;
			font-weight: 700 !important;
			padding: 0 !important;
			font-size: 14px !important;
			text-transform: capitalize !important;
			&:before{
				display: none;
			}
		}
		.tbay_custom_menu {
			ul li a {
				padding-left: 0 !important;
			}
		}
	}
	.menu-category-menu-container{
		ul{
			border: 1px solid #eee;
			ul {
				border: 0;
				padding: 0 !important;
				li { 
					border: 0;
					a {
						padding-left: 30px !important;
					}
				}
				ul {
					li {
						a {
							padding-left: 40px !important;
						}
					}
					ul {
						li {
							a {
								padding-left: 50px !important;
							}
						}
					}
				}
			}
			li{
				border-top: 1px solid #eee;
				border-bottom: 0 !important;
				padding:0 !important;
				background: none !important;
				&.esc{
					background: #fafafa !important;
				}
				a{
					width: 100%;
					display: block;
					line-height: 39px;
					border-right: 4px solid transparent;
					padding-left: 20px;
					font-size: 13px;
					font-weight: 500;
					 @include transition(all 0.3s  ease-in-out 0s);
					 i{
						 margin-right: 10px;
						 margin-left: 0;
						 font-size: 18px;
						 color: #dddddd;
					 }
					&:hover{
						color: $theme-color;
						border-right-color: $theme-color;
						i{
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}

.tbay_custom_menu.treeview-menu {
	.dropdown-menu {
		position: static;
		border: 0px;
		float: none;
		padding-left: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		padding-top: 0;
		background: #fafafa;
		padding-bottom: 0;
		@include box-shadow(none);
		p {
			margin-bottom: 0;
		}
		.wpb_row.vc_row {
			margin-top: 0 !important;
			margin: 0;
		}
		.vc_fluid {
			padding: 0;
			width: 100%;
    }
    .wpb_content_element {
    	margin-bottom: 0;
    }
    .widgettitle {
	    font-weight: 700 !important;
	    font-size: 14px !important;
	    margin: 0 !important;
	    padding: 10px 20px !important;
	    line-height: normal !important;
			background: #eee !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 0 !important;
			&:before {
				display: none !important;
			}
	  }
	  ul {
	  	margin-top: 0;
	  	border-top: 0;
	  	background: #fafafa;
	  	li {
	  		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	  		a {
		    	line-height: normal;
		    	padding: 5px 20px !important;
		    }
			}
	  }
	}
}

.treeview.tbay-vertical-menu li .hitarea:after {
	content: "\e606";
}

.vc_category{
	display: flex;
    text-align: center;
    justify-content: center;
	margin-top: 30px;
	.box{
		margin-right: 10px;
		&:last-child{
			margin-right:0;
		}
		&:hover{
			img{
				border-color: $theme-color;
			}
		}
		img{
			border: 1px solid transparent;
		}
		.tit{
			font-weight:bold;
			font-size:13px;
			text-transform:uppercase;
			margin-top: 10px;
			display: block;
		}
	}
}

.vc_recommended{
	margin-top:50px;
	margin-bottom: 60px;
	.product-block.grid{
		margin-bottom: 15px !important;
		&:last-child{
			margin-bottom: 0 !important;
		}
	}
	&.home_4{
		margin-bottom: 105px;
		margin-top: 40px;
	}
}



.woo-after-single-product-summary{
	margin-bottom: 100px;
}
@media(max-width:991px){
    .topbar-mobile  {
        padding: 15px 10px;
        .btn{
            margin-right: 10px;
			margin-left: 0;
            padding:6px 10px;
        }
        .top-cart .dropdown-menu{
            left: -125px;
            right: inherit;
            min-width: 280px;
            &:after,
            &:before{
                display: none;
            }
        }
    }
    .logo-in-theme{
        float: none!important;
        text-align: center;
        width: 100%;
    }
}
/* Rtl */
/*rtl:raw:

#cart .cart-icon .mini-cart-items{
	right: 0;
	left: auto;
}
*/
/* Demos */
.tbay-demo {
	position: fixed;
    right: 0;
		left: auto;
    top: 0;
    z-index: 9409;
    min-height: 100%;
    width: 0;
    @include transition(width .5s);
	.tbay-switch {
		display: block;
		position: absolute;
		left: -50px;
		right: auto;
		top: 200px;
		width: 50px;
		background: #ffffff;
		cursor: pointer;
		@media (max-width: 1400px){
			top: 120px;
		}
		a {
			padding: 12px;
			display: block;
			text-align: center;
			i {
				font-size: 20px;
				display: block;
				color: #fff;
				&.icon-settings {
					padding-bottom: 15px;
					color: #fff;
				}
			}
			&.demo-switch {
				padding-bottom: 0;
				background: rgb(45, 74, 104);
			}
			&.demo-pay {
				background: #ff3f1d;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
			}
		}
	}
	&.active {
		width: 400px;
		a i {
			color: #333;
		}
	}
	.tbay-demo-content {
		position: absolute;
		width: 400px;
		height: 100%;
		overflow: auto;
		background: #ffffff;
		padding: 25px 16px 5px 17px;
		text-align: center;
		.box-title {
			color: $theme-color;
			font-size: 20px;
			text-transform: uppercase;
		}
		.box-title-sub {
			margin-bottom: 30px;
		}
		.demo-thumb {
			position: relative;
			border: 2px solid #ccc;
			display: block;
			@include transition(all .3s);
			margin-bottom: 20px;
			img,span {
				@include transition(all .3s);
			}
			span {
				position: absolute;
				@include opacity(0);
				top: 44%;
				left: 0;
				right: auto;
				width: 100%;
				font-size: 20px;
				color: #fff;
				z-index: 10;
			}
			&:after {
				position: absolute;
				content: "";
				@include opacity(0);
				top: 0;
				left: 0;
				right: auto;
				width: 100%;
				height: 100%;
				@include transition(all .2s);
				background: #000;
			}
			&:hover {
				&:after {
					@include opacity(0.7);
				}
				span {
					@include opacity(1);
				}
			}
		}
	}
	@media (max-width: $screen-sm){
		.tbay-switch {
			display: none !important;
		}
	}
}

.wpb_single_image .vc_figure {
    position: relative;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
	float: left !important;
}

 .instagram-widget .owl-carousel .owl-item {
    padding-left: 15px;
    padding-right: 15px;
 }
 .instagram-widget .owl-carousel {
    margin-right: -15px;
    margin-left: -15px;
 }
 .instagram-widget.nav-left .owl-carousel .owl-nav, .instagram-widget.nav-left .owl-carousel .owl-dots {
    left: 15px !important;
 }
 .woocommerce .woocommerce-tabs ul.wc-tabs li>a {
     line-height: 24px;
 }

 /* v1.4.6 */
.instagram-widget .owl-carousel .owl-item:last-child {
    margin-left: -1px;
}
.google_plusone_iframe_widget {
    width: 36px !important;
}
.product-block.list .caption-list .rating {
    margin-top: 5px;
}
@media (max-width: 768px) {
	.singular-shop div.product .information .cart {
    padding: 0;
    border: 0;
    margin-bottom: -5px;
	}
}
.tb-full {
	.vc_fluid, .vc_row {
		margin: 0;
	}
}